<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Bar's Cellphone Repair Ticketing System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    
</head>
<body>
    <script>
        function createTable(){
            fetch('http://localhost:3000/createpoststable').then(res=>{
                console.log(res);
            });
        }
        function logout(){
            fetch('http://localhost:3000/logout').then(res=>
                {console.log("Logged Out");}
            )
        };
        console.log(document.cookie);
        // function addpost(formdata){
        //     //addpost
        //     continue;
        // }
    </script>
    
    <!-- <button onclick="createTable()">Create Table</button> -->
    <!-- <nav>
        <h4>Cyber Bar Cellphone Repair Ticket System</h4>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><button onclick="logout()">Logout</button></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cyber Bar Cell Phone Repair Ticket System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <button onclick="logout()">Logout</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="title">
      <h1>Repair Ticket List</h1>
    </div>
    <div class="container">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone #</th>
            <th>Phone Type</th>
            <th>Problem</th>
            <th>Actions</th>
          </tr>
        </thead>

      </table>
    </div>

    <div class="container">
      <form action="/addticket" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
          <label for="phone_number">Phone No:</label>
          <input type="number" class="form-control" id="phone_number" placeholder="Enter Phone No" name="phone_number" required>
        </div>
        <div class="form-group">
          <label for="cellphone">Phone Type:</label>
          <input type="text" class="form-control" id="cellphone" placeholder="Enter Phone Type" name="cellphone" required>
        </div>
        <div class="form-group">
          <label for="problem">Problem:</label>
          <input type="text" class="form-control" id="problem" placeholder="Enter Problem with Phone" name="problem" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>